body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
}

#main_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: red; /* For browsers that do not support gradients */
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#294a6d+0,106047+100 */
	background: #294a6d; /* Old browsers */
	background: -moz-linear-gradient(top,  #294a6d 0%, #106047 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #294a6d 0%,#106047 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #294a6d 0%,#106047 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294a6d', endColorstr='#106047',GradientType=0 ); /* IE6-9 */

}

#big_logo {
	width: 25%;
	/*overflow: hidden*/
}

#image_logo {
	float: right;
}

#content_div {
	align-items: center;
	text-align: center;
}

#page_title {
	font-size: 6em;
	font-family: 'Exo', sans-serif;
	text-align: center;
}

#subtitle {
	font-size: 2em;
	text-align: center;
}

.button
{
    background: #004040;
    border-color: #0080ff;
    color: #00ff80;
    font-size: 1.5em;
    height: 2em;
    border: solid 4px #c2c7cc;
    border-radius: 1em;
    text-decoration: none;
    /*
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	*/
	transition: font-size 0.2s ease-in-out;
}

.button:hover {
	
	background: #ffffff;
	border: solid 4px #c2c7cc;
	font-size: 2em;
}
