body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
}

#main_container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: red; /* For browsers that do not support gradients */
    
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#294a6d+0,053f2a+100 */
	background: #294a6d; /* Old browsers */
	background: -moz-linear-gradient(top,  #294a6d 0%, #053f2a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #294a6d 0%,#053f2a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #294a6d 0%,#053f2a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294a6d', endColorstr='#053f2a',GradientType=0 ); /* IE6-9 */
}

#big_logo {
	width: 40%;
	height: 100%;
	overflow: hidden;
}

#image_logo {
	float: right;
	height: 100%;
}

#content_div {
	align-items: center;
	text-align: center;
}

#page_title {
	font-size: 6em;
	font-family: 'Exo', sans-serif;
	text-align: center;
	color: #20a0ff;
}

#subtitle {
	font-size: 2em;
	text-align: center;
	color: #20ff60;
	text-decoration: none;
	font-weight:normal;
}

#button_box {
	width: 100%;
	height: 10em;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button_row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 0;
}

/*
.button_row {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;language
	flex-grow: 1;
	flex-basis: 0;
}
*/

#get_started_btn {
	font-size: 2em;
}

.button
{
	font-weight:normal; 
	flex-grow: 1;
	flex-basis: 0;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    
    border-radius: 20px;
    margin: 0;
    text-decoration: none;
	font-weight:normal;
	padding: 5px 10px 5px 10px;
	margin: 5px 10px 5px 10px;
	
    /*
    transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
	*/
	transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

#get_started_btn:hover {
	font-size: 2.25em;
}

.button:hover {
	
	/*border: solid 1px #20ff60;*/
	font-size: 2.25em;
	color: rgba(255, 255, 255, 1.0);
}
